.card {
    max-width: 390px;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 60px;
}

.card__title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-black);
    align-self: center;
}

.card__title::before {
    content: "01";
    position: absolute;
    top: -116px;
    left: -114px;
    font-size: 150px;
    font-weight: 400;
    color: var(--color-green);
    opacity: 0.3;

}

.card__desc {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-black);
}

.card_img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: auto 65/82;
}

.card__title-second::before {
    content: "02";
}

.card__title-third::before {
    content: "03";
    left: -135px;

}

.card__title-right {
    align-self: end;
}

@media(max-width: 426px) {

.card {
    height: 800px;
}
    .card__title {
        font-size: 22px;
    }

    .card__title::before {
        left: -90px;
    }

    .card__desc {
        font-size: 16px;
    }


}