.hero { 
    background: url(../assets/BG.webp) center/cover no-repeat;
    width: 100%;
    height: 895px;
}

.hero__content {
    padding: 180px 0 0 0;
        max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.hero-title {
    color: var(--color-green);
    font-size: 65px;
    font-weight: 700;
}
.hero__desc {
    margin: 25px 0 50px;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 400;
}
.btn {

}

.hero__content .btn{
    width: 230px;
    height: 65px;
}

@media(max-width: 768px) {
    .hero{
        height: 700px;
    }
    .hero__content{
        padding: 80px 0 0 0;
    }
}

@media(max-width: 480px) {
    .hero { 
    background: linear-gradient(180deg, rgba(245,246,252,0.52),rgba(255,176,139,0.28)),
    url(../assets/BG.webp) 60% 50%/cover no-repeat;
}
    .hero-title{
        font-size: 45px;
        max-width: 350px;
    }
}