.success {
    background-color: var(--color-dark-green);
}
.success__wrapper {
    padding: 220px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 40px;
}
.success__content {
    margin: 50px  0 0 0;
    max-width: 550px;
        display: flex;
    flex-direction: column;
    place-items: start;
    gap: 20px;
}
.success__title {
    color: var(--color-white);
    font-size: 50px;
    font-weight: 700;
}
.success__description {
        color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
}


.success__content.btn{
width: 240px;
height: 65px;
margin: 50px  0 0 0 ;
}

.success__content .btn:hover{
    outline:  2px solid var(--color-white);
}
.success__content-video {
  position: relative;
  width: 100%;
  max-width: 790px;
  height: 455px;
  aspect-ratio: 158 / 91; 
  border-radius: 15px;
  overflow: hidden; 
}

.success__cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: inherit; 
}



.success__play-icon{
    position: absolute;
    z-index: 2;
    width: 72px;
    height: 73px;
    fill: var(--color-white);
    top: 50%;
    left: 50%;
translate: -50% -50%;
}

.success__play-icon:hover{
    fill: var(--color-green);
    cursor: pointer;
}

.success__gradient{
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(180deg, rgba(0,0,0, .1), rgba(0,0,0, .5)) center/cover no-repeat;
}

@media (max-width:1370px){
    .success__wrapper,.success__content{

        justify-content: center;
        flex-wrap: wrap-reverse;
}
} 